#IDE文件
.vs/
.idea/
.vscode/
_ReSharper.CSharp/

#svn
*/.svn/
.svn/

#Excel的临时文件
~$*.xlsx
~$*.xlsx.meta

#Unity相关目录
.gradle
Library
Logs
UserSettings
/*.csproj
*.vsconfig
ProjectSettings/RiderScriptEditorPersistedState.asset
HybridCLRData

#Unity/Assets
Assets/Bundles/Code/*
Assets/Bundles/AotDlls/*
Assets/StreamingAssets/
Assets/StreamingAssets.meta

#其他
.objs/
.DS_Store
/*.user
bin/
Bin/
/Log
/Logs
/**/obj/
/obj/
/Release
/Temp
/Tools/MongoDB
Publish/
*/Temp/
*/TestResults/
Assets/Generate/Model/Proto*
Assets/Generate/Model/Excel*
Unity.sln
Unity.sln.DotSettings.user

Assets/HybridCLR*
/Bundles
/.sandbox-user/.dotnet/MachineId.v1.dotnetUserLevelCache
/.sandbox-user/.dotnet/TelemetryStorageService/45d610a71e2a40c39d9bdd8306a8d90c
/.sandbox-user/.dotnet/TelemetryStorageService/88c7fee5ffec4b21b674e78cab5f4496
/.sandbox-user/.dotnet/TelemetryStorageService/395f24266dd44133a66a0a1b36810653
/.sandbox-user/.dotnet/TelemetryStorageService/710da7a5f4d744059cedda3d9aeab166
/.sandbox-user/.dotnet/TelemetryStorageService/90036a32b98c4a38802e947545381307
/.sandbox-user/.dotnet/TelemetryStorageService/9726955a3e3e494395e44aeaa4de10b5
/.sandbox-user/.dotnet/TelemetryStorageService/4656130026b74aaea9d3ee9591cdcc64
/.sandbox-user/.dotnet/TelemetryStorageService/20260322093913_2d0e7f91f118410180f5b0eea59e5104.trn
/.sandbox-user/.dotnet/TelemetryStorageService/20260322093913_576118eb479042108a579f184fd36231.trn
/.sandbox-user/.dotnet/TelemetryStorageService/20260322093915_33ef48099cea4b468714186171d9a4b0.trn
/.sandbox-user/.dotnet/TelemetryStorageService/20260322093915_a93dc39de7a34d758dc210b97b111f92.trn
/.sandbox-user/.dotnet/TelemetryStorageService/20260322093915_f1d46fdbf3da462fb59d79d79f905c5a.trn
/.sandbox-user/AppData/Local/NuGet/Migrations/1
/.sandbox-user/AppData/Roaming/NuGet/NuGet.Config
